
#topo.row {
  background-color: white;
}

#topo.row img{
  transition: transform .9s ease-in-out;  
}


#topo.row:hover img{
  -moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180dg);
  
}


#topo-superior{

  min-height: 30px;
  background-color: black;
  color: #fff;
  text-align: left;
       
  }


#topo{

min-height: 100px;
background-color: black;
color: #fff;
    
}

#topo img{

  
  border-radius:10px;
  border: 2px solid black;
  }

#externo-buscar {
  display:grid;
  align-items: center;
  align-content: center;
} 

#buscar {
  align-self: center;
  align-items: center;
  align-content: center;
}

#rodape{
max-height: 50px;
min-height: 20px;
background-color: black;  
color: #fff;
   
}

#rodape h4{
  padding: auto;
  text-align: center;
  align-items: center;  
  font-weight: bolder;
  
}


#conteudo{
    
   min-height: 500px; 
}

#lateral{
    
   border-right: 2px solid black;
   border-left: 2px solid black;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   border-radius: 14px;
   height: 100%;  
   padding: 0px; 
  }

  .transparente{
   opacity: 0.5;   
      
  }

  #produto_detalhes {
    margin: 5px;
  }

  #botoes_produto { 
    margin: 0px;
    display: grid;
    align-items: center;
    align-content: center;
    grid-gap:10px;

  }


/* sobrescrever classes do bootstrap */

.breadcrumb {
  background-image: linear-gradient(to bottom, #5CA47A 50%, #25335D);
}

.breadcrumb h4 {
 text-align: center;
 font-style: italic;
 color: #25335D;
}

.navbar-inverse{
    border-radius: 0;
    background-image: linear-gradient(to bottom, #5CA47A 50%, #25335D);
    border:0px;
    
}

.btn-primary {
  color: #fff;
  background-color: aquamarine;
  border-color: #25335D;
}


.navbar-inverse .navbar-nav > li > a{
    
  color: #fff;
  font-size: 16px;  
    
}
.navbar-inverse .navbar-nav > li > a:hover{
    
 background-color: #25335D;
 border-radius: 5px;
 color: aquamarinemarine;
 transform: scale(1.25); 
     
}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    
   background-color: #25335D;
   border: 0px;
   margin: 0px;
 
  
    
}

.list-group-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input.form-control {
  min-width: 300px;
}

a {
  color:white;
}

a.list-group-item:hover{
    
    background-color: aquamarine;
    color: black;
      
    
}

a.list-group-item {
  
    border: 0;
    font-size: 16px;       
    transform: translateY(1px); 
    color:black  
    
}

pre {
  background-color: silver;
}

/*estilando o card dos produtos*/

.thumbnail {
  border: 1px solid silver;
    
}

#detalhes .thumbnail {
  object-fit: fill;
  width: 320px;
}

.thumbnail:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  text-decoration: none;
  border: 1px solid black;
}

.thumbnail a {
  text-decoration: none;
}

.thumbnail a>img {
  object-fit: fill;
  width: 180px;
  height: 140px;
}


.thumbnail .caption h4 {
  color: #25335D;
}

.text-danger {
  color: #5CA47A;
  font-weight: bolder;

  
}

tn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  align-items: center;
  text-align: center;
}



