


#topo.row {
  background-color: white;
}

#topo.row img{
  transition: transform .9s ease-in-out;  
}


#topo.row:hover img{
  -moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180dg);
  
}


#topo-superior{

  min-height: 30px;
  background-color: black;
  color: #fff;
  text-align: left;
       
}

#texto-cabecalho div {  
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content:space-between; 
  line-height: 120px;  
  margin-right:auto;
    
}

#texto-cabecalho {  
  display:flex;
  color:#5CA47A;
  
}

#topo{

min-height: 100px;
background-color: black;
color: #fff;

    
}

#topo img{
  
  border-radius:10px;
  border: 2px solid black;
  }

#logo-externa{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5px;
  
}

.img-rounded {
  width:100%;
  align-items: center;
  align-content: center;

}

#buscar {
  align-self: center;
  align-items: center;
  align-content: center;
}

#rodape{

min-height: 20px;
background-color: black;  
color: #fff;
   
}

#rodape h4{
  padding: auto;
  text-align: center;
  align-items: center;  
  font-weight: bolder;
  
}

#rodape h5 {  
  align-items: center;
  text-align: center;
}


#conteudo{
    
   min-height: 500px; 
}

#lateral{
    
   border-right: 2px solid black;
   border-left: 2px solid black;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   margin-right:5px;    
   padding: 0px;
   border-radius: 8px; 
  
  }

  .transparente{
   opacity: 0.5;   
      
  }

  #produto_detalhes {
    margin: 5px;
  }
  #link_erro a{
    border: 2px solid silver;
    padding: 5px;
    color:#5CA47A;
    border-radius: 5px;
  }

  #link_erro:hover a{  
   -moz-transform: scale(1.2);
	 -webkit-transform: scale(1.2);
	 transform: scale(1.2);   
  }

  #contratar {
    color: white;
  }


/* sobrescrever classes do bootstrap */

.breadcrumb {
  background-image: linear-gradient(to bottom, #5CA47A 50%, #25335D);
}

.breadcrumb > h4 {
 text-align: center;
 font-style: italic;
 color: white;
 margin: 1px;
}

.navbar-inverse{
    border-radius: 0;
    background-image: linear-gradient(to bottom, #5CA47A 50%, #25335D);
    border:0px;
    
}

.btn-primary {
  color: #fff;
  background-color: aquamarine;
  border-color: #25335D;
}


.navbar-inverse .navbar-nav > li > a{
    
  color: #fff;
  font-size: 16px;  
    
}
.navbar-inverse .navbar-nav > li > a:hover{
    
 background-color: #25335D;
 border-radius: 2px;
 color: aquamarinemarine;
  
     
}

.list-group-item.active, .list-group-item.active {
  border-radius: 0px;
  border: 0px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    
   background-color: #25335D;
   border: 0px;
   margin: 0px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;  
    
}

/*
.list-group-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
*/

input.form-control {
  min-width: 300px;
}

a {
  color:white;
}

a.list-group-item:hover{
    
    background-color: aquamarine;
    color: black;
      
    
}

a.list-group-item {
  
    border: 0;
    font-size: 16px;       
    /*transform: translateY(-1px); */
    color:black;
    margin-bottom:5px;
    
}

a.btn {
  display: inline-block;
  margin-top: 6px;  
 
}

pre {
  background-color: silver;
}

/*estilando o card dos produtos*/

.thumbnail {
  border: 1px solid silver;
  box-shadow: 3px 3px 5px #adadae;
  border-radius: 10px;
    
}

#detalhes .thumbnail {
  object-fit: fill;
  width: 320px;
}

.thumbnail:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  text-decoration: none;
  border: 1px solid black;
}

.thumbnail a {
  text-decoration: none;
}

.thumbnail a>img {
  object-fit: fill;
  width: 170px;
  height: 130px;
}


.thumbnail .caption h4 {
  color: #25335D;
}


.text-danger {
  color: #5CA47A;
  font-weight: bolder;

  
}

.text-danger-empresa {
  color: black;
  font-size: 16px;
  text-indent:4em;
  text-align: justify;
}

.ul-empresa li{
  list-style-type: square;
  display: inline;
  padding: 15px;
  font-size: 18px; 
  font-weight: bold;
  
}

tn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  align-items: center;
  text-align: center;
}

.btn-info {
  width: 40%;
}

text.quantidade {
  font-weight: bolder;
  align-items: center;
  text-align: center;
 
}

.formulario-contato {
  color:#5CA47A
}

#botaoenviar {
  background-color:#5CA47A;

}

#botaoenviar:hover {
  background-color:#25335D;

}

#alterar-senha {
  color:#5CA47A;
  font-size: 16px;
}

#rodapeContato {
  
  padding: 15px;
  border-radius: 5px;  
  background-image: linear-gradient(to bottom, #5CA47A 50%, #25335D);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color:white;
}

#rodapeContato .glyphicon {
  
  font-size: 20px;
 
}

#rodapeContato ul, li {
  list-style-type: none; 
  display: block;
}




