
#topo.row {
  background-color: white;
}


#topo-superior{

  min-height: 30px;
  background-color: black;
  color: #fff;
  text-align: left;
       
  }


#topo{

min-height: 100px;
background-color: black;
color: #fff;
    
}

#topo img{

  
  border-radius:10px;
  border: 2px solid black;
  }

#rodape{
     
min-height: 150px;
background-color: silver;  
color: #fff; 
    
}

#conteudo{
    
   min-height: 500px; 
}

#lateral{
    
   border-right: 2px solid black;
   height: 100%;
  }

  .transparente{
   opacity: 0.5;   
      
  }


/* CLASSES OVERRIDE DO BOOTSTRAP para personalização*/

/* navbar e menu navbar */
.navbar-inverse{
    border-radius: 0;
    background-color: black;
    
}


.navbar-inverse .navbar-nav > li > a{
    
  color: #fff;
  font-size: 16px;  
    
}
.navbar-inverse .navbar-nav > li > a:hover{
    
 background-color: black;
 border-radius: 10px;
 color: aqua;
    
}

/* menu lateral com list group*/

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    
   background-color: #101010; 
    
}

input.form-control {
  min-width: 300px;
}

a.list-group-item:hover{
    
    background-color: aqua;;
     color: black;
     
    
}

a.list-group-item{
  
    border: 0;
    font-size: 16px;
    
    
}

