
#topo.row {
  background-color: white;
}

#topo.row img{
  transition: transform .9s ease-in-out;  
}


#topo.row:hover img{
  -moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180dg);
  
}


#topo-superior{

  min-height: 30px;
  background-color: black;
  color: #fff;
  text-align: left;
       
  }


#topo{

min-height: 100px;
background-color: black;
color: #fff;
    
}

#topo img{

  
  border-radius:10px;
  border: 2px solid black;
  }

#externo-buscar {
  display:grid;
  align-items: center;
  align-content: center;
} 

#buscar {
  align-self: center;
  align-items: center;
  align-content: center;
}

#rodape{
max-height: 50px;
min-height: 20px;
background-color: silver;  
color: #fff;
   
}

#rodape h4{
  padding: auto;
  text-align: center;
  align-items: center;
  color:black;
  font-weight: bolder;
  
}


#conteudo{
    
   min-height: 500px; 
}

#lateral{
    
   border-right: 2px solid black;
   height: 100%;
  }

  .transparente{
   opacity: 0.5;   
      
  }


/* sobrescrever classes do bootstrap */

.navbar-inverse{
    border-radius: 0;
    background-color: black;
    
}


.navbar-inverse .navbar-nav > li > a{
    
  color: #fff;
  font-size: 16px;  
    
}
.navbar-inverse .navbar-nav > li > a:hover{
    
 background-color: #2e6da4;
 border-radius: 5px;
 color: aquamarinemarine;
 transform: scale(1.15); 

    
}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    
   background-color: #101010;
 
  
    
}

input.form-control {
  min-width: 300px;
}

a.list-group-item:hover{
    
    background-color: aquamarine;
    color: black;
      
    
}

a.list-group-item {
  
    border: 0;
    font-size: 16px;       
    transform: translateY(1px);   
    
}

