<!DOCTYPE html>

<html>
    <head>
        <title>{$TITULO_SITE}</title>
                 
    </head>
    
<body>
    
        <h3 class="alert alert-success text-center">Empresa</h3>
        <div class="text-danger-empresa"> Somos uma empresa focada em desenvolvimento de software. 
            Prestamos serviços nas área de infraestrutura, banco de dados e analise e desenvolvimento de sistemas.
            Desenvolvemos sites e lojas virtuais integradas.
        </div>
        <h3 class="alert alert-success text-center">Valores</h3>
        <ul class="ul-empresa text-center">
            <li>Ética</li>
            <li>Software de qualidade</li>
            <li>Lucros Consistentes</li>
            <li>Foco no Cliente</li>
        </ul>
   
    

</body>
</html>