<h3 class="alert alert-success text-center">Informe seu email para receber uma nova senha </h3>
<form name="esqueci_minha_senha" method="post" action="">    
    <section>      
        <div class="col-md-12">         
            <input type="email" name="client_email" placeholder="usuario@dominio.com" id="client_email" class="form-control" required>
            <hr>
            <button type="submit" class="btn btn-info btn-lg"> Enviar Senha </button>
        </div>
<br>
<br>     
    </section>
</form>