<!DOCTYPE html>

<html>

<head>
    <title>{$TITULO_SITE}</title>
    
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">

    <link href="{$GET_TEMA}/tema/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{$GET_TEMA}/tema/css/contato.css" rel="stylesheet" type="text/css" />
    <link href="{$GET_TEMA}/tema/css/personalizado.css" rel="stylesheet" type="text/css" />
    <script src="{$GET_TEMA}/tema/js/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="{$GET_TEMA}/tema/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{$GET_TEMA}/tema/js/bootstrap-notify.js" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            
        })
        function enviado() {
        
          $.notify({   
            message: 'Formulário enviado com sucesso!'
            },{
            type: 'success',
            showProgressbar: true,
            placement: {
                from: "top",
                align:"center"
            }   
          });
          return true
        }
        </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="topo-superior">
            <div class="container">
                <h4 class="text-center">Soluções em desenvolvimento web</h4>
            </div>
        </div>
    </div> 
    
    <div class="row" id="topo">
        <div class="container">
            <div id="texto-cabecalho">
                <div><img src="{$GET_TEMA}/imagens/logo.jpg" alt="" align="left" height="120"></div>
                <div>DeLuca Tecnologia</div>
                <div><img src="{$GET_TEMA}/imagens/logo2.jpg" alt="" align="right" height="120"></div>
            </div>
        </div>
    </div>
    <div class="row" id="barra-menu">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="true" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>                        
                        <span class="glyphicon glyphicon-menu-hamburger"></span>                        
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <form method="GET" class="navbar-form navbar-left" role="search" >
                        <div class="form-group">
                            <input id="busca-produtos" name= "buscar-produtos" type="text" class="form-control" placeholder="Pesquisar Produtos e Serviços..."
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="{$GET_PAGINA_INICIAL}"> Home </a> </li>
                        <li><a href="{$PAG_CONTA}">Conta</a> </li>
                        <li><a href="{$PAG_LOGAR}">Login</a> </li>
                        <li><a href="{$PAG_EMPRESA}">Quem Somos</a> </li>
                        <li><a href="{$PAG_PRODUTOS}">Produtos</a> </li>
                        <li><a href="{$PAG_CARRINHO}">Carrinho</a> </li>
                        <li><a href="{$PAG_CONTATO}">Fale Conosco</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row" id="conteudo">
        <div class="container">
            <div class="col-md-2" id="lateral">
                <div class="list-group">
                    <span class="list-group-item active"> Produtos</span>
                    <a href="{$PAG_PRODUTOS}" class="list-group-item"> Todos</a>
                    {foreach from=$CATEGORIAS item=CATEGORIA_ITEM}
                    <a href="{$CATEGORIA_ITEM.categ_href}" class="list-group-item"> {$CATEGORIA_ITEM.categ_nome}</a>
                    {/foreach}
                </div>
            </div>
            <div class="col-md-9">
                {php}
                Routes::get_pagina();
                {/php}
            </div>
        </div>
    </div>
    <hr>
    <div class="row" id="rodapeSuperior">
        <div class="container">
            <div class="col-md-6"><img src="{$GET_TEMA}/imagens/pagamento.png" alt="" align="center" height="120"></div>
            <div class="col-md-6"><img src="{$GET_TEMA}/imagens/seguranca.png" alt="" align="center" height="120"></div>

        </div>
    </div>
    <div class="row" id="rodapeContato">
        <div class="container">
            <div class="col-md-12 text-left">
             <ul>                
                <li class="glyphicon glyphicon-phone"> Telefone: (51) 3333-3333 </li>
                <br>
                <li class="glyphicon glyphicon-envelope"> email: delucatecnologia@gmail.com </li>
                <br>
                <li class="glyphicon glyphicon-map-marker"> Endereço: Rua Assis Brasil 35 - Centro - Canoas - RS </li>
                <br>
            </ul>  
            </div>
        </div>
    </div>
    <div class="row" id="rodape">
        <h4>Desenvolvido por Rafael de Luca</h4>
        <h5>Política de privacidade</br>Todos os direitos reservados.</h5>
    </div>


    </div>
</body>

</html>