
<!DOCTYPE html>

<html>
    <head>
        <title>Deluca Tecnologia</title>       
    </head>
<body>
<h4 class="alert alert-info text-center">Informe a senha anterior e a nova senha.<br>
Se esqueceu a senha anterior, faça LOGOFF e vá na opção <b>Esqueci minha senha</b>
em Login.</h4>

<section>
    <div class="col-md-3"></div>
    <div id="alterar-senha" class="col-md-6">
        <label>Digite a senha atual</label>
        <input type="text" class=form-control name="senha_atual" id="senha_atual" placeholder="senha anterior" required>
        <label>Digite digite a nova senha</label>
        <input type="text" class=form-control name="nova_senha" id="nova_senha" placeholder="nova senha" required>
        <label>Confirme a nova senha</label>
        <input type="text" class=form-control name="confirma_nova_senha" id="confirma_nova_senha" placeholder="nova senha" required>
    </div>
    <div class="col-md-3"></div>
    <hr>
</section>
</body>
</html>